{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block messages %}
    {% for flash_error in app.flashes('reset_password_error') %}
    <div id="alert-additional-content-5" class="p-4 border border-gray-300 rounded-lg bg-gray-50 dark:border-gray-600 dark:bg-gray-800" role="alert">
        <div class="flex items-center">
            <svg aria-hidden="true" class="w-5 h-5 mr-2 text-gray-700 dark:text-gray-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <h3 class="text-lg font-medium text-gray-700 dark:text-gray-300">
                {{ flash_error }}
            </h3>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block body %}
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
        <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
            <img
                    src="/images/password_reset.svg"
                    class="w-full"
                    alt="Password Reset"
            />
        </div>
        <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
            {{ form_start(requestForm) }}
            <div class="mb-6">
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        Enter your email address and we will send you a link to reset your password.
                    </small>
                </div>
            </div>
            <button
                    type="submit"
                    class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                    data-mdb-ripple="true"
                    data-mdb-ripple-color="light"
            >
                Send password reset email
            </button>

            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                You have an account?
                <a
                        href="{{ path('app_login') }}"
                        class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                >Login</a>
            </p>
            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                Don't have an account?
                <a
                        href="{{ path('app_register') }}"
                        class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                >
                    Register
                </a>
            </p>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
